#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 10%;
    width: 80%;
}

body {
    background-image: url("../images/repeating-hexagon.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

nav {
    background-color: rgb(147, 255, 153);
    padding-left: 5px;
    text-decoration:none;
    padding-bottom: 2px;
}

main {
    overflow: auto;
    flex: 1;
    background: rgba(255, 255, 255, 0.95);   
    display: flex;
}

footer {
    background-color: black;
    color: white;
    text-align:right;
    padding-right: 1%;
    font-weight: bold;
}

.divjes {
    background: rgba(0, 255, 0, 0.2);
}

.divjes div {
    border: 1px solid black;
}


.content{
    flex: 4;
    margin-left: 5px;
}

#leftcollapse{
    background-color: navy;
    color: aqua;
}

aside{
    background-color:purple;
    overflow: hidden;
    transition: 0.8s;
}

.open {
    flex:1;
}

.close {
    flex:0;
    color:rgb(88, 67, 44);
}


#dialog{
    z-index: 2;
    top: -300px;
    width: 300px;
    position: absolute;
    left: Calc(50VW - 150px);   
    transition: top 0.8s;
}

#dialog .hd{
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    display: flex; 
}

#dialog .cn{
    background-color: rgba(178, 240, 255, 0.7);
    height: 100px;
    padding: 5px;
    border: 1px solid black;
}

#dialog .ft{
    background-color: black;
    color: white;
    text-align:right;
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 2px;
}

#dialog .hd {
    display: flex;
    justify-content: space-between;
}   

#closelogin{
    cursor: pointer;
    background-color: black;
}

#closelogin:hover {
    background-color: red;
}

button{
    cursor: pointer;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

#logint{
    display: none;
}